<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.176" targetFramework="net45" />
  <package id="DynamicData" version="5.0.5.2078" targetFramework="net45" />
  <package id="DynamicData.Plinq" version="5.0.5.2078" targetFramework="net45" />
  <package id="FluentAssertions" version="4.5.0" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.2.0-ci715" targetFramework="net45" />
  <package id="Microsoft.Reactive.Testing" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net46" />
</packages>