<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.2.131" targetFramework="net46" />
  <package id="DynamicData" version="4.3.0.1086-Beta" targetFramework="net46" />
  <package id="log4net" version="2.0.3" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.1.3-ALPHA225" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="1.1.1-ci314" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net46" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net46" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net46" />
  <package id="structuremap" version="3.1.6.186" targetFramework="net46" />
</packages>