<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<log4net>
<appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender" >
  <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="[TailBlazer] %level %date{HH:mm:ss,fff} - %message%n" />
  </layout>
<root>
	<level value="All"/>
<appender-ref ref="OutputDebugStringAppender"/>
</root>
</appender>
</log4net>
</configuration>
